body{
    background-color: #F5E4D7;
    font-family: Helvetica, sans-serif;
}
.content{
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #73877B;
    
}
button{
    align-items: center;
    border-radius: 50%;
    margin: 50px;
    width: 100px;
    height: 100px;
    color: #839788;
    background-color:#E5D1D0;
    text-decoration: line-through;
}