<nav style="border-radius: 25px; background-color: #C0B9DD ;">
    <div class="nav-wrapper" style="margin: 50px;">
       <a href="/" class="brand-logo" style="color: white;">Logo</a>
       <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
       <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="about">Generate an Animal</a></li>
          <li><a href="contact">Contact Us</a></li>
          <li><a href="other">Weather</a></li>
      </ul>
   </div>
</nav>
</div>
<ul class="side-nav" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact Us</a></li>
</ul>