<html>
  <%- include('./partials/header') %>
  
  <body style="background-color: #F7F4EA;">
     <div class="navbar" style=" margin: 25px;">
      
      <%- include('./partials/navigation') %>

    <h1 style="color:#80A1D4; margin-top: 50px; margin-left: 100px;">Contact Us</h1>

    <p style="color:#80A1D4;margin-left: 150px;">We'd love to hear from you! Send us a message.</p>

    <div class="row" style="text-align: center;">
        <form class="col s6" style="display: inline-block; margin-left: 25%; margin-right:25%; width: 50%;" >
          <div class="row">
            <div class="input-field col s12">
              <input id="full_name" type="text" class="validate">
              <label for="full_name">Full Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <textarea id="message" class="materialize-textarea validate"></textarea>
              <label for="message">Message</label>
            </div>
          </div>

        <a class="btn waves-effect waves-light" style="background-color: #75c9c8;">SUBMIT
            <i class="material-icons right">send</i>
        </a>

        </form>
      </div>

      <%- include('./partials/footer') %>
  </body>
</html>