<html>
   <%- include('./partials/header') %>
   
  <body style="background-color: #F7F4EA;">
     <div style=" margin: 25px;">
      
      <%- include('./partials/navigation') %>

    <h1 style="color:#80A1D4; margin-top: 50px; margin-left: 100px;">Page Not Found</h1>
    <h6 style="color:#80A1D4; margin-top: 50px; margin-left: 150px;">The page that you are trying to access does not exist.</h6>
   

    <%- include('./partials/footer') %>
  </body>
</html>