<html>
   
   <%- include('./partials/header') %>

  <body style="background-color: #F7F4EA;">
   <div style=" margin: 25px;">

      <%- include('./partials/navigation') %>
        
<center>
  <img src="../icons/Good.png" />
</center>

   <%- include('./partials/footer') %>
   </div>
  </body>
</html>