<html>
   
   <%- include('./partials/header') %>

  <body style="background-color: #F7F4EA;">
     <div class="navbar" style=" margin: 25px;">

        <%- include('./partials/navigation') %>
     </div>
    <h1 style="color:#80A1D4; margin-top: 50px; margin-left: 100px; margin-right: 100px;">
         <%= heading; %>
   </h1>
  


   <%- include('./partials/footer') %>

  </body>
</html>