<html>
   
   <%- include('./partials/header') %>

  <body style="background-color: #F7F4EA;">

        
<center>
  <img src='../icons/Good.png' width="550px" height="250px" style="margin-top: 100px;">

  <div class="container-md">
    <ul style="list-style-type: none; margin:0; padding: 0;">
      <li style="display: inline-block;">
     <a href="https://www.facebook.com/josellllle/">
      <img src="../icons/fb.png" width="40px" height="40px">
     </a>
    </li>

    <li style="display: inline-block;">
     <a href="https://www.instagram.com/jos_lle/">
      <img src="../icons/insta.png" width="43px" height="43px">
     </a>
    </li>

    <li style="display: inline-block;">
     <a href="https://twitter.com/josellomuljo">
      <img src="../icons/twit.png" width="40px" height="40px">
     </a>
    </li>

    <li style="display: inline-block;">
     <a href="https://github.com/jglomuljo">
      <img src="../icons/github.png" width="40px" height="40px">
     </a>
    </li>

    <li style="display: inline-block;">
     <a href="https://www.pinterest.ph/josellelomuljo/_saved/">
      <img src="../icons/pinter.png" width="40px" height="40px">
     </a>
    </li>
    </ul>
  </div>
<br>
<ul>
  <li style="display: inline-block; vertical-align: middle;">
  
    <select class="form-select " aria-label=".form-select-lg example" style="width: 200px;">
      <option selected>Pick a Location</option>
      <option value="1">Philippines</option>
      <option value="2">South Korea</option>
      <option value="3">Greece</option>
      <option value="2">Switzerland</option>
      <option value="3">Canada</option>
    </select>
  </li>
  <li style="display: inline-block; vertical-align: middle;">
    <a type="button" class="btn" style="background-color: #574FAB; color: #F7F4EA;" href="other">JOIN</a>
  </li>
</ul>
</center>

   <%- include('./partials/footer') %>

  </body>
</html>